@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1555157568520'); /* IE9 */
  src: url('iconfont.eot?t=1555157568520#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABmgAAAJvAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgREBNgIkAwgLBgAEIAWEbQcyG7kFyJ6aPIFkm+Ky8NiHPZkJ+BgiiPb7zd7d/45oUo0kkyyaSSQI3RIJSqcESiUkL+Hdt/YbRCTO618soZ6+2t7sib69Ra1lSoBKJEJoouCEkwD0VznrcVVaAkQbcE39XwANJA9obp0UlRwJOLDpgKKaRraBDH3D2AUv8DiBtgkBLUcbe2noVtjjAnGnqw3oLrgVhcWaQr1haRFvOjTTS3rgNfp+/ItFN0ktswtOb9cVWPqSk5AfqivlgOABAa2uIWMNKMRlY/hYm2CMNu1wuxlwrNzgS1UVmMRR9YL9dXZ2F4xBwTMJPdGjZidQkvZpYGPSNaThgcNcb0tPasflC2mSTXJt+bD0GnXfgLR9PcbTrCN9jK7cU6d/qjmW/O0u5wuVrt9kM1f7nsonloz5RefULTDmvljr7XOrv655ewdLANX5Pf+239i8GS/Xhub+u/sK+OzvEh5RXWRo7twS/CThwLpiiG1jKpqw0ZpMTxqb0NZGFbYPepuqGbmjeGgauS9rw3iGrGmOLPQ11HSso65pF22rNld3DBHaRGlhxT1A6PeApNcHsn7PZKG/ombUO+r6ow1t1zG2ZcdC6L2rghqSFGweo85ch7tm2RvnJkndtxoiL46YWRK+7sNoKFKObZJDYokZ/oEak5IjF66NG+A0siwXPeEaxGRIk9KbCYd505tCzLWh1yGBNEhEgZqOIR3jcvCgtdRb+XwSUe2zNIiOojpvFhF8eucoKiQygNxUOIOKHuUV3wFVjCRxiBNcNrQBBhGLxYW85kEGwkgh2oSgZ0bYacaHKkLbq+wfyGdl2NoUTv+seU9O0NIdAgAAAA==') format('woff2'),
  url('iconfont.woff?t=1555157568520') format('woff'),
  url('iconfont.ttf?t=1555157568520') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555157568520#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-men-line:before {
  content: "\e604";
}

