.line{
    width: 100%;
    border: 1px solid orange; 
}
.container{
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
}
.daohang{
    margin-top: 10px;
  border:none;
  width: 1280px;
  height: 65px;
 flex: 1;
  display: flex;
  align-items: center;
  padding-left: 100px;
 display: block;
  position: relative;
}
.daohang1{
    margin-top: 10px;
  border: none;
  width: 1280px;
  height: 65px;
  display: flex;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: flex-end;
}
.input{
    width: 470px;
    height: 31px;
    line-height: 31px;
    background-color:#f2f2f5;
    border: 1px solid #cccccc;
    color: #808080;
    margin-left: 20px;
}
.fangdajing{
    position: absolute;;
    top:5px;
    right:4px;
    z-index:1;
}
.left{
    display: flex;
    align-items: center;  
}
.right{
    display: flex;
    align-items: center;
}
.ooo{
  padding-left: 20px;
}
