.line{
    width: 100%;
    border: 1px solid orange; 
}
.container{
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
}
.daohang{
    margin-top: 10px;
  border:none;
  width: 1280px;
  height: 65px;
 flex: 1;
  display: flex;
  align-items: center;
  padding-left: 100px;
 display: block;
  position: relative;
}
.daohang1{
    margin-top: 10px;
  border: none;
  width: 1280px;
  height: 65px;
  display: flex;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: flex-end;
}
.input{
    width: 470px;
    height: 31px;
    line-height: 31px;
    background-color:#f2f2f5;
    border: 1px solid #cccccc;
    color: #808080;
    margin-left: 20px;
}
.fangdajing{
    position: absolute;;
    top:5px;
    right:0px;
    z-index:1;
}
.left{
    display: flex;
    align-items: center;  
}
.right{
    display: flex;
    align-items: center;
}
.ooo{
  padding-left: 20px;
}
.base{
    width: 920px;
    height: 300px;
    overflow: hidden;
    z-index:1;
    margin: 0 auto;
    display: block;
    position: relative;
    
}
.people{
    height: 22px;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: #e7e4e4;
    padding: 0 8px;
    background-image: url("https://img.t.sinajs.cn/t6/style/images/pagecard/bg_pf_use_num.png?id=1404211047727");
    background-repeat: repeat;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    right: 46px;
    top: 11px;
    z-index: 10;
}
.copy{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url("https://img.t.sinajs.cn/t6/style/images/pagecard/icon_profile.png?id=201409041250") no-repeat;
    right: 8px;
    top: 7px;
    z-index: 10;
}
.touxiang{
    position: absolute;
    top: 30px;
    right: 380px;
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    border:5px solid rgba(250, 236, 236, 0.5);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}
.renzheng{
    position: absolute;
    bottom: 5px;
    right:5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    vertical-align: -2px;
    background-image: url("https://img.t.sinajs.cn/t6/style/images/common/steps_gold2.png");
    background-size: 595px 20px;
    background-repeat: no-repeat;
    z-index: 10;
}
.name{
    margin: 0;
    padding: 0;
    font-size: 22px;
    display: inline;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    position: absolute;
    top: 150px;
    right: 380px;
}
.iconfont{
    position: absolute;
    top: 79px;
    right: 180px;
}
.introduce{
    position: absolute;
    top: 180px;
    right: 380px;
    margin-top: 4px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 18px;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.btn{
    margin-top: 15px;
}
.btn1:link{
text-decoration: none;
}
.btn3:link{
    text-decoration: none;
    }
.btn1{
    position: absolute;
    bottom: 50px;
    left: 360px;
    display: inline-block;
    height: 34px;
    width: 104px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to bottom, #fa7d3c 0%,#f55f10 100%);
    min-width: 40px;
    text-align: center;
    outline: none;
}
.btn2{
    position: absolute;
    bottom: 50px;
    left: 470px;
    height: 34px;
    width: 24px;
    color: #fff;
    background: linear-gradient(to bottom, #fa7d3c 0%,#f55f10 100%);
}
.btn3{
    position: absolute;
    bottom: 50px;
    left: 505px;
    display: inline-block;
    height: 34px;
    width: 104px;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to bottom, #696e78 0%,#646973 100%);
    min-width: 40px;
    text-align: center;
    outline: none;
}
.btn4{
    position: absolute;
    bottom: 50px;
    left: 620px;
    height: 34px;
    width: 34px;
    color: #fff;
    background: linear-gradient(to bottom, #696e78 0%,#646973 100%);
}
.dropdown ul{
    position: absolute;
    z-index: 100;
   display: none;
   border: 1px solid #e7e4e4;
   background-color: white;
}
ul,ol,li{
    list-style:none;
    margin-left: 20px;
    padding: 0;
    width: 470px;
}
.dropdown1 ul{
    position: absolute;
    bottom: 70px;
    left: 380px;
    z-index: 100;
    width: 180px;
   display: none;
   border: 1px solid #e7e4e4;
   background-color: white;
}
.dropdown2 ul{
    position: absolute;
    bottom: -20px;
    right: 120px;
    z-index: 100;
    width: 180px;
  display: none;
   border: 1px solid #e7e4e4;
   background-color: white;
}
.tab{
    width: 920px;
    height: 40px;
    display: flex;
    flex: 1;
    margin: 0 auto;
   padding: 0 370px;
   background-color: white;
   
}
.zhuye{
    display: block;
    width: 276px;
    height: 44px;
    text-align: center;
    padding: 7px 7px;
    font-size: 14px;
    
}
.xiangce{
    display: block;
    width: 276px;
    height: 44px;
    padding: 7px 7px;
    font-size: 14px;
    text-align: center;
  
}
.main{
    flex: 1;
    display: flex;
    align-items: center;
   
}
.main-left{
    width: 300px;
    height: 1900px;
    margin-right: 20px;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 12px;
    display: block;
    margin-left: 207px;
}
.line1{
    display: block;
    width: 99px;
    height: 34px;
    text-align: center;
    text-decoration: none;
}
.line2{
    display: block;
    width: 99px;
    height: 34px;
    text-align: center;
    text-decoration: none;
}
.line3{
    display: block;
    width: 99px;
    height: 34px;
    text-align: center;
    text-decoration: none;
}
.renshu{
    display: flex;
    flex: 1;
    padding-top: 20px;
    width: 300px;
    height: 60px;
    border: 1px solid gray;
}
.dengji{
    width: 300px;
    height: 84px;
    border: 1px solid gray;
    margin-top: 16px;
}
.xinxi{
    width: 300px;
    height: 265px;
}
.address{
    width: 300px;
    height: 32px;
    padding-top: 7px;
    border: 1px solid gray;
    text-align: left;
}
.school{
    width: 300px;
    height: 32px;
    padding-top: 7px;
    border: 1px solid gray;
    text-align: left;
}
.work{
    width: 300px;
    height: 32px;
    padding-top: 7px;
    border: 1px solid gray;
    text-align: left;
}
.xingzuo{
    width: 300px;
    height: 32px;
    padding-top: 7px;
    border: 1px solid gray;
    text-align: left;
}
.jianjie{
    width: 300px;
    height: 50px;
    padding-top: 7px;
    border: 1px solid gray;
    text-align: left;
}
.look{
    width: 300px;
    height: 36px;
    border: 1px solid gray;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
}
.chakan{
    text-decoration: none;
}
.shili{
    width: 300px;
    height: 39px;
    border: 1px solid gray;
    margin-top: 16px;
    padding-top: 7px;
}
.shilibang{
align-items: center;
}
.aimuzhi{
    align-items: center;
    float: right;
}
.songhua{
    width: 300px;
    height: 557px;
    border: 1px solid gray;
    padding-top: 7px;
}
.songhua-1{
    height: 70px;

}
.xiaotouxiang{
    display: flex;
    border-radius: 50%;
    border:5px solid rgba(250, 236, 236, 0.5);
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    float: right;
}
.btn-songhua{
    background: #ff8140;
    border: 1px solid #f77c3d;
    color: #fff;
    display: inline-block;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    border-radius: 2px;
    width: 70px;
    height: 24px;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    outline: none;
    margin-top: 7px;
}
.songhua-2{
height: 40px;
}
.songhua-3{
  float: right;
}
.songhua-4{
    height: 30px;
}
.line4{
        width: 80%;
        margin: 0 auto;
        border: 1px solid gray; 
}
.xiaotouxiang-1{
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    height: 48px;
    width: 48px;
    margin-left: 10px
}
.first{
    display: flex;
    flex: 1;
    font-size: 12px;
}
.fansgroup{
    width: 290px;
    height: 36px;
    border: 1px solid gray;
    padding-top: 7px;
    padding-left: 7px;
    font-size: 12px;
    margin-top: 50px;
}
.guanxi{
    width: 300px;
    height: 18px;
    border: 1px solid gray;
    padding-top: 7px;
    font-size: 12px;
    margin-top: 20px;
}
.guanzhu{
    width: 300px;
    height: 100px;
    border: 1px solid gray;
    font-size: 12px;
    margin-top: 3px;
}
.guanzhu-1{
    display: flex;
    flex: 1;
}
.fans{
    width: 300px;
    height: 100px;
    border: 1px solid gray;
    font-size: 12px;
    margin-top: 35px;
}
.fans-1{
    display: flex;
    flex: 1;
}
.xiangce-0{
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    font-size: 12px;
    margin-top: 270px;
}
.xiangce-1{
    widows: 190px;
    height: 190px;
    float: left;
}
.xiangce-2{
    widows: 92px;
    height: 92px;
  float: right;
    
}
.xiangce-3{
    widows: 92px;
    height: 92px;
    float: right;
    margin-top: 5px;
}
.zan{
    width: 300px;
    height: 18px;
    border: 1px solid gray;
    padding-top: 7px;
    font-size: 12px;
    margin-top: 20px;
}
.zan-1{
    widows: 92px;
    height: 92px;
    margin-top: 10px;
}
.zan-2{
    border: 1px solid gray;
    width: 300px;
    height: 200px;
}
.main-right{
    width: 600px;
    height: 380px;
    border: 1px solid gray;
    float: right;
    position: absolute;
    top: 425px;
    left: 530px;
}
.xiaotouxiang-2{
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    height: 48px;
    width: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
.name-2{
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 60px;
}
.date{
    color: #808080;
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 60px;
    margin-top: 2px;
}
.zhengwen{
    font-size: 14px;
    margin-left: 60px;
}
.zhengwen-1{
    text-decoration: none;
}
.video{
    width: 500px;
    height: 282px;
    position: absolute;
    top: 80px;
    left: 60px;
    margin-top: 10px;
}
.jiazai{
    position: absolute;
    top:400px;
}